<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>JDBCQuery</display-name>
    <servlet-name>JDBCQuery</servlet-name>
    <servlet-class>JDBCQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCQuery</servlet-name>
    <url-pattern>/JDBCQuery</url-pattern>
  </servlet-mapping>
  <display-name>JDBC Query</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CallableStatementInsertDemo</display-name>
    <servlet-name>CallableStatementInsertDemo</servlet-name>
    <servlet-class>CallableStatementInsertDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallableStatementInsertDemo</servlet-name>
    <url-pattern>/callable-statement-insert-demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateSelectDrop</display-name>
    <servlet-name>CreateSelectDrop</servlet-name>
    <servlet-class>CreateSelectDrop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSelectDrop</servlet-name>
    <url-pattern>/CreateSelectDrop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertUpdateDelete</display-name>
    <servlet-name>InsertUpdateDelete</servlet-name>
    <servlet-class>InsertUpdateDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUpdateDelete</servlet-name>
    <url-pattern>/InsertUpdateDelete</url-pattern>
  </servlet-mapping>
</web-app>